openapi: 3.0.1
info:
  title: Korean corporate's disclosure Plugin
  description: A plugin that return korean corporate's disclosure.
  version: 'v1'
servers:
  - url: https://dart-plugin.com
paths:
  /dart/get_disclosure_list_by_corporate:
    get:
      operationId: get_disclosure_list_by_corporate
      summary: Get the list of disclosure of given corporate
      parameters:
        - in: query
          name: corp_name
          schema:
            type: string
          required: true
          description: corporation name which want to get list of disclosure
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDisclosureListResponse'

  /dart/get_contents_of_business:
    get:
      operationId: get_contents_of_business
      summary: Get business part in disclosure contents of given rcept_no
      parameters:
        - in: query
          name: rcept_no
          schema:
            type: string
          required: true
          description: disclosure rcept_no which you want to get business part of disclosure
      
      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/getBusinessResponse'

  /dart/financial_statement:
    get:
      operationId: get_financial_statement
      summary: Get fianacail_statement of corporate 재무제표
      parameters:
        - in: query
          name: corp_name
          schema:
            type: string
          required: true
          description: corporate name which you want to get financial statement
        - in: query
          name: year
          schema:
            type: string
          required: true
          description: released year of financial statement which you want to get 
        - in: query
          name: quater
          schema:
            type: integer
          required: true
          minimum: 1
          maximun: 4
          description: released quater of financial statement which you want to get if you select 2 you can get semiannual report and 4, annual report

      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/getFinancialStatementResponse'
components:
  schemas:
    getDisclosureListResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        page_no:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
        total_page:
          type: integer
        list:
          type: array
          items:
            type: object
            properties:
              corp_code:
                type: string
              corp_name:
                type: string
              stock_code:
                type: string
              corp_cls:
                type: string
              report_nm:
                type: string
              rcept_no:
                type: string
              flr_nm:
                type: string
              rcept_dt:
                type: string
              rm:
                type: string
    
    getBusinessResponse:
      type: string
    
    getFinancialStatementResponse:
      type: array
      items:
        type: object
        properties:
          rcept_no:
            type: string
            example: "20221114001832"
          reprt_code:
            type: string
            example: "11014"
          bsns_year:
            type: string
            example: "2022"
          corp_code:
            type: string
            example: "00126380"
          sj_div:
            type: string
            example: "BS"
          sj_nm:
            type: string
            example: "재무상태표"
          account_id:
            type: string
            example: "dart_OtherCurrentLiabilities"
          account_nm:
            type: string
            example: "기타유동부채"
          account_detail:
            type: string
            example: "-"
          thstrm_nm:
            type: string
            example: "제 54 기 3분기말"
          thstrm_amount:
            type: string
            example: "528447000000"
          frmtrm_nm:
            type: string
            example: "제 53 기말"
          frmtrm_amount:
            type: string
            example: "341038000000"
          ord:
            type: string
            example: "30"
          currency:
            type: string
            example: "KRW"