openapi: 3.0.1
info:
  title: Korean corporate's disclosure Plugin
  description: A plugin that return korean corporate's disclosure.
  version: 'v1'
servers:
  - url: https://dart-plugin.com
paths:
  /dart/get_disclosure_list_by_corporate:
    get:
      operationId: get_disclosure_list_by_corporate
      summary: Get the list of disclosure of given corporate
      parameters:
        - in: query
          name: corp_name
          schema:
            type: string
          required: true
          description: corporation name which want to get list of disclosure
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDisclosureListResponse'

  /dart/get_contents_of_business:
    get:
      operationId: get_contents_of_business
      summary: Get business part in disclosure contents of given rcept_no
      parameters:
        - in: query
          name: rcept_no
          schema:
            type: string
          required: true
          description: disclosure rcept_no which you want to get business part of disclosure
      
      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/getBusinessResponse'
  
  /dart/get_contents_of_investor_protection:
    get:
      operationId: get_contents_of_investor_protection
      summary: Get essential information for investors in disclosure contents of given rcept_no
      parameters:
        - in: query
          name: rcept_no
          schema:
            type: string
          required: true
          description: disclosure rcept_no which you want to get essential information for investors in disclosure
      
      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/getInvestorProtectionResponse'
  
  /dart/get_contents_of_management_diagnosis:
    get:
      operationId: get_contents_of_management_diagnosis
      summary: Get director's management diagnosis and analysis opinion in disclosure of given rcept_no
      parameters:
        - in: query
          name: rcept_no
          schema:
            type: string
          required: true
          description: disclosure rcept_no which you want to get director's management diagnosis and analysis
      
      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/getManagementDiagnosisResponse'

  /dart/financial_statement:
    get:
      operationId: get_financial_statement
      summary: Get fianacail_statement of corporate 재무제표 financial statement
      parameters:
        - in: query
          name: corp_name
          schema:
            type: string
          required: true
          description: corporate name which you want to get financial statement
        - in: query
          name: year
          schema:
            type: string
          required: true
          description: released year of financial statement which you want to get 
        - in: query
          name: quater
          schema:
            type: integer
          required: true
          minimum: 1
          maximun: 4
          description: released quater of financial statement which you want to get if you select 2 you can get semiannual report and 4, annual report

      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/getFinancialStatementResponse'
components:
  schemas:
    getDisclosureListResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        page_no:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
        total_page:
          type: integer
        list:
          type: array
          items:
            type: object
            properties:
              corp_code:
                type: string
              corp_name:
                type: string
              stock_code:
                type: string
              corp_cls:
                type: string
              report_nm:
                type: string
              rcept_no:
                type: string
              flr_nm:
                type: string
              rcept_dt:
                type: string
              rm:
                type: string
    
    getBusinessResponse:
      type: string

    getInvestorProtectionResponse:
      type: string
    
    getManagementDiagnosisResponse:
      type: string
    
    getFinancialStatementResponse:
      type: array
      items:
        type: object
        properties:
          rcept_no:
          type: string
        reprt_code:
          type: string
        bsns_year:
          type: string
          description: Year of issuance of the relevant financial statements
        corp_code:
          type: string
        sj_div:
          type: string
        sj_nm:
          type: string
        account_id:
          type: string
        account_nm:
          type: string
          description: account name
        account_detail:
          type: string
        thstrm_nm:
          type: string
        thstrm_amount:
          type: string
          description: amount of the current term
        thstrm_add_amount:
          type: string
          description: cumulative amount of the current term
        frmtrm_q_nm:
          type: string
        frmtrm_q_amount:
          type: string
          description: amount of the previous term
        frmtrm_add_amount:
          type: string
          description: cumulative amount of the previous term
        ord:
          type: string
        currency:
          type: string